@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #b3b2b2;
}
header {
    background-color: #858585;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.header {
    border-bottom: 1px solid #b3b2b2;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
}
.fio h1 {
    font-size: 1.5em;
    margin: 0.6em 0;
    color: rgb(252, 252, 252);
}
footer{
    position: absolute;
    width: 100%;
    padding: 20px 50px;
    background: #858585;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    bottom: 0;
}
footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
}
.rez h1{
    font-size: 1.5em;
    margin: 0.6em 0;
    color: rgb(252, 252, 252);
    text-align: center;
}
.main h1{
    font-size: 1.5em;
    margin: 0.6em 0;
    color: rgb(252, 252, 252);
    margin-left: 2vw;
}
.main li{
    font-size: 1.2em;
    margin: 0.6em 0;
    color: rgb(252, 252, 252);
    margin-left: 2vw;
}
.main ul{
    margin-left: 2vw;
}